# Dependencias Esenciales de la Encuesta Web
Flask==3.1.0
Jinja2>=3.0
Werkzeug>=3.0
itsdangerous>=2.1
click>=8.1
MarkupSafe>=2.1

# Servidor de Producción (Obligatorio para Railway)
gunicorn==22.0.0

# Base de Datos
pymongo==4.8.0
dnspython>=2.6.0  # Dependencia de pymongo

# Configuración Segura
python-dotenv==1.0.1 # Versión moderna (la tuya era muy antigua)